body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
  color: #333;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  background: url('../images/Stressfree.jpg') no-repeat center center/cover;
}

.contact-info {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  color: white;
}

.contact-info h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 40px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info ul li i {
  font-size: 24px;
  margin-right: 10px;
}

.contact-info ul li p {
  font-weight: bold;
  margin: 0;
}

.contact-info ul li span {
  margin-left: 5px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

.contact-form button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 20px;
  }

  .contact-form {
    margin-top: 20px;
  }
}
